#aboutMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#aboutTitle {
    flex-basis: 100%;
    font-weight: 400;
    font-size: calc(5px + 3.5vw);
}
#aboutDescription {
    font-weight: 400;
    font-size: calc(5px + 1.5vw);
}

@media screen and (max-width: 700px) {
    #aboutTitle {
        font-size: calc(15px + 10vw);
    }

    #aboutDescription {
        font-size: calc(15px + 3.5vw);
    }
}
