* {
    /* background-color: var(--dark-colour); */
    color: var(--secondary-accent);
    scrollbar-width: auto;
    scrollbar-color: var(--primary-accent) var(--dark-colour);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--dark-colour);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-accent);
    border-radius: 10px;
    border: 0px double var(--lighter-secondary-accent);
}

a {
    text-decoration: none;
    color: var(--lighter-secondary-accent);
}

#page-name {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--primary-accent);
    font-size: calc(30px + 2vmin);
}

h1 {
    font-weight: 900;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
