:root {
    --background: #040404;
    --second-background: #000000;
    --foreground: #eeeeee;
    --second-foreground: #ffffff;
    --mid: #808080;
    /* --primary-font: "ts_block_bold"; */
    --primary-font: "Times New Roman", serif;
}

* {
    font-family: var(--primary-font);
}

@media screen and (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    background-color: var(--background);
    color: var(--foreground);
    -moz-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    -webkit-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}

#newLightDark {
    position: absolute;
    margin: 1vh 0.5vw;
}

#newLightDark svg {
    width: 2vw;
    height: 2vw;
    color: var(--second-foreground);
    background-color: var(--second-background);
    border-radius: 1vw;
    border: 0.15vw solid var(--second-foreground);
    padding: 0.75vw;
    /* margin: 0.5vw; */
    cursor: pointer;
}

#newLightDark svg:hover {
    border: 0.15vw solid var(--second-foreground);
    color: var(--second-background);
    background-color: var(--second-foreground);
}

@media screen and (max-width: 700px) {
    #newLightDark {
        margin: 5px;
    }
    #newLightDark svg {
        width: 4vw;
        height: 4vw;
        border-radius: 1.5vw;
        border: 0.35vw solid var(--second-foreground);
    }
}

#lightDarkToggle {
    position: absolute;
    top: 9vh;
    left: 0.5vw;
}

#lightDarkToggle svg {
    width: 1.5vw;
    height: 1.5vw;
    color: var(--second-foreground);
    background-color: var(--second-background);
    border-radius: 0.4vw;
    border: 0.15vw solid var(--second-foreground);
    padding: 0.5vw;
    /* margin: 0.5vw; */
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    #lightDarkToggle {
        top: 17.5vh;
        left: 4vw;
    }

    #lightDarkToggle svg {
        width: 5vw;
        height: 5vw;
        border-radius: 1.5vw;
        border: 0.35vw solid var(--second-foreground);
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 0 0 0.15vw 0;
    background-color: var(--second-background);
    color: var(--second-foreground);
    min-height: 5vh;
    /* gap: 30px; */
    margin: 0;
}

.header h1 {
    font-size: calc(10px + 2vw);
    color: var(--second-foreground);
    font-weight: 400;
    margin: 0;
}

.header .link {
    font-size: calc(2px + 2vw);
    text-decoration: none;
    color: var(--second-foreground);
    font-weight: 500;
    margin: 0;
    /* font-style: italic; */
    flex-basis: 15%;
}

#pageTitle {
    font-size: calc(6px + 3vw);
    color: var(--second-foreground);
    font-weight: 400;
    margin: 0;
    flex-basis: 30%;
}

@media screen and (max-width: 700px) {
    #pageTitle {
        font-size: calc(20px + 3vw);
        flex-basis: 100%;
    }
    .header .link {
        flex-basis: 20%;
        font-size: calc(10px + 2vw);
    }
}

.contactLink {
    font-size: calc(2px + 2vw);
    text-decoration: underline;
    color: var(--second-foreground);
    font-weight: 500;
    margin: 0;
}

.main {
    /* background-color: var(--background); */
    color: var(--second-foreground);
    /* text-align: center; */
    /* padding: 15px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding-bottom: 50px;
}

h1 {
    padding: 0px;
    font-weight: 900;
    margin: 0;
}

.flexBreak {
    flex-basis: 100%;
    height: 0;
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--foreground) var(--second-background);
    -moz-transition: scrollbar-color 0.5s ease-in;
    -o-transition: scrollbar-color 0.5s ease-in;
    -webkit-transition: scrollbar-color 0.5s ease-in;
    transition: scrollbar-color 0.5s ease-in;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--second-background);
    -moz-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    -webkit-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
    -moz-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    -webkit-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
    border-radius: 10px;
    border: 0px double var(--lighter-secondary-accent);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.colour-transition {
    -moz-transition: color 0.5s ease-in;
    -o-transition: color 0.5s ease-in;
    -webkit-transition: color 0.5s ease-in;
    transition: color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    -webkit-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}

.colour-transition-0-1s {
    -moz-transition: color 0.1s ease-in;
    -o-transition: color 0.1s ease-in;
    -webkit-transition: color 0.1s ease-in;
    transition: color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
}
