* {
    background-color: "#282C34";
    color: "#FCD1D1";
    scrollbar-width: auto;
    scrollbar-color: #aee1e1 #282c34;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #282c34;
}

*::-webkit-scrollbar-thumb {
    background-color: #aee1e1;
    border-radius: 10px;
    border: 0px double #ffffff;
}

a {
    text-decoration: none;
    color: var(--lighter-pink);
}

#page-name {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--blue);
    font-size: calc(30px + 2vmin);
}

h1 {
    font-weight: 900;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
