#galleryCategoryTitle {
    font-weight: 400;
    font-size: 3.5vw;
}
.gridRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.gridColumn {
    flex: 30%;
    max-width: 500px;
    padding: 0 4px;
}

.gridColumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
