<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

.Home {
    text-align: center;
    font-family: "ts_blockbold";
    background-color: var(--dark-colour);
    min-height: 100vh;
    color: var(--lighter-secondary-accent);
}

.Home-header {
    background-color: var(--dark-colour);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
}

.Home-header h1 {
    color: var(--lightest-secondary-accent);
}

.Page-link {
    color: var(--primary-accent);
    text-decoration: none;
    font-size: calc(40px + 5vmin);
    padding-top: 50px;
    padding-bottom: 50px;
}

.Page-link:hover {
    color: var(--secondary-accent);
=======
@media screen and (min-width: 701px) {
    #homeBGContainer {
        width: 100%;
        max-height: 84.75vh;
        height: 84.75vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    #homeBackground {
        min-width: 1920px;
        max-width: 100%;
        min-height: 1080px;
    }
}
#homeMain {
    padding-bottom: 0;
}

#homeOverlay {
    position: absolute;
    /* left: 5vw; */
    top: 25vh;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}

.overlayText {
    font-size: 3.5vw;
    color: #ffffff;
>>>>>>> origin/rework
}

@media screen and (max-width: 700px) {
    #homeBGContainer {
        max-height: 82.75vh;
        height: 82.75vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        align-content: center;
    }

    #homeBackground {
        width: 100%;

        /* min-width: 703px; */
        /* min-height: 1523px; */
    }

    #homeOverlay {
        top: 20vh;
        left: 5%;
        background-color: #1b1b1ba6;
        /* padding: 10px; */
    }

    .overlayText {
        font-size: 6.5vw;
    }
}
