@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

.Home {
    text-align: center;
    font-family: "ts_blockbold";
    background-color: var(--dark-colour);
    min-height: 100vh;
    color: var(--lighter-secondary-accent);
}

.Home-header {
    background-color: var(--dark-colour);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
}

.Home-header h1 {
    color: var(--lightest-secondary-accent);
}
