:root {
    --dark-grey: #282c34;
    --pink: #fcd1d1;
    --lighter-pink: #ece2e1;
    --blue: #aee1e1;
    --lighter-blue: #d3e0dc;
}

.Home {
    text-align: center;
    font-family: "ts_blockbold";
    background-color: var(--dark-grey);
    min-height: 100vh;
    color: var(--lighter-pink);
}

.Home-header {
    background-color: var(--dark-grey);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: var(--lighter-pink);
}

.Page-link {
    color: var(--blue);
    text-decoration: none;
    font-size: calc(20px + 2vmin);
}

.Page-link:hover {
    color: var(--pink);
}

.gridRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.gridColumn {
    flex: 30%;
    max-width: 500px;
    padding: 0 4px;
}

.gridColumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

#page-name {
    font-size: 4.5vw;
    color: white;
}

#gallery-nav {
    font-size: 3vw;
    padding: 3vw;
}

#left-nav {
    position: absolute;
    left: 3vw;
    text-align: left;
}
#right-nav {
    position: absolute;
    right: 3vw;
    text-align: right;
}
